In [2]:
import pandas as pd
com401_1 = pd.read_csv('anon_data/com402-1.csv', header=None, names=['email', 'movie', 'date', 'rating'])
imdb_1 = pd.read_csv('anon_data/imdb-1.csv', header=None, names=['email', 'movie', 'date', 'rating'])

In [3]:
merged = imdb_1.merge(com401_1, on=['date', 'rating'], how='inner')

merged.head()

,email_x,movie_x,date,rating,email_y,movie_y
0,emile.adam-becker@epfl.ch,The Godfather,01/01/05,3,494efac1114ffdefce62052ef709c4285deb1df36bc3b8...,0587157b665e019b1b664b4f01b751058b4bd9d843d73d...
1,emile.adam-becker@epfl.ch,The Godfather,01/01/05,3,39d3e5e89fe262c39f0d35e5269c33a636b27f6744e879...,dbfa47ce2ccb1845d254e37997865f78d19c0630dedf68...
2,jacqueline.lebon-pascal@epfl.ch,12 Angry Men,01/01/05,3,494efac1114ffdefce62052ef709c4285deb1df36bc3b8...,0587157b665e019b1b664b4f01b751058b4bd9d843d73d...
3,jacqueline.lebon-pascal@epfl.ch,12 Angry Men,01/01/05,3,39d3e5e89fe262c39f0d35e5269c33a636b27f6744e879...,dbfa47ce2ccb1845d254e37997865f78d19c0630dedf68...
4,astrid.faivre@epfl.ch,The Godfather,01/01/10,2,cd024366841e6804a2f51d8128b4fa0052edd3f916a6ba...,0587157b665e019b1b664b4f01b751058b4bd9d843d73d...

In [11]:
hashed_trump_email = merged.loc[merged['email_x'] == 'donald.trump@whitehouse.gov', 'email_y'].iloc[0]

hashed_trump_email

'46e035a7ef72c29d60e621bbfa76c873491af5320892b86a5f2ad2ef0ef36746'

In [8]:
movies_hashes = (
    merged.groupby(['movie_y', 'movie_x'])
        .count()
        .sort_values('email_x', ascending=False)
        .groupby(level=0)
        .head(1).reset_index()
)

In [37]:
hashed_movies_watched_by_donald = com401_1[com401_1['email'] == hashed_trump_email]

In [40]:
movies_watched_by_donald = (
    hashed_movies_watched_by_donald
        .merge(movies_hashes, left_on=['movie'], right_on=['movie_y'])['movie_x'].drop_duplicates()
)

movies_watched_by_donald

0                    Pulp Fiction
1    Once Upon a Time in the West
2              North by Northwest
3         Raiders of the Lost Ark
4                   Seven Samurai
5                    Modern Times
6        The Shawshank Redemption
7                     Tokyo Story
8                 The Dark Knight
9                    12 Angry Men
Name: movie_x, dtype: object