In [10]:
merged = imdb_1.merge(com401_1, on=['date', 'rating'], how='inner')

In [11]:
hashed_trump_email = merged.loc[merged['email_x'] == 'donald.trump@whitehouse.gov', 'email_y'].iloc[0]

In [36]:
movies_hashes = (
    merged.groupby(['movie_y', 'movie_x'])
        .count()
        .sort_values('email_x', ascending=False)
        .groupby(level=0)
        .head(1).reset_index()
)

In [37]:
hashed_movies_watched_by_donald = com401_1[com401_1['email'] == hashed_trump_email]

In [40]:
movies_watched_by_donald = (
    hashed_movies_watched_by_donald
        .merge(movies_hashes, left_on=['movie'], right_on=['movie_y'])['movie_x'].drop_duplicates()
)

movies_watched_by_donald

0                    Pulp Fiction
1    Once Upon a Time in the West
2              North by Northwest
3         Raiders of the Lost Ark
4                   Seven Samurai
5                    Modern Times
6        The Shawshank Redemption
7                     Tokyo Story
8                 The Dark Knight
9                    12 Angry Men
Name: movie_x, dtype: object

In [9]:
import pandas as pd
com401_1 = pd.read_csv('hw8/hw7ex1/anon_data/com402-1.csv', header=None, names=['email', 'movie', 'date', 'rating'])
imdb_1 = pd.read_csv('hw8/hw7ex1/anon_data/imdb-1.csv', header=None, names=['email', 'movie', 'date', 'rating'])